@page
@model EmployeeBackend.Pages.LogoutModel
@{

}
<form method="post">
  <div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <p>Are you want to Logout</p>
            <p>
            <button class="btn btn-primary" asp-page-handler="Logout">Yes</button>
            <a class="btn btn-danger" asp-page="ProductMaster/Index">No</a>
            </p>


        </div>
    </div>

   </div>
</form>




